.chat-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea el textarea al final del contenedor */
  width: 95%;
  margin: 0 auto; 
  margin-bottom: 13px; /* Margen inferior para separación */
}
  
.mensajes {
  position: relative;
  min-height: 150px;
  border-radius: 8px;
  display: block;
  background-color: #151522;
  border: 1px solid #1E202F;
  color: #e9e9e9;
  width: 100%;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 65px;
  font-size: 13.5px;
  resize: none;
  overflow-y: hidden;
}
  
.mensajes::placeholder {
  background-color: transparent;
  color: #b0b0b0;
  opacity: 0.8;
}

.contenedor-social {
  position: absolute;
  display: flex;
  border: none;
  right: 84%;
  gap: 15px;
  bottom: 20px;
}

.icon2{
  color: #b0b0b0;
}

.contenedor-enviar {
  position: absolute;
  display: flex;
  border: none; /* Sin borde */
  left: 72.5%;
  bottom: 15px;
}

.btn-enviar{
  position: relative;
  width: 75px;
  height: 30px;
  margin-right: 10px;
  background-color: #1C1C29;
  border: 1px solid #1E202F;
  border-radius: 5px;
  font-size: 13px;
  padding-top: 1.8%;
}

#enviar{
  background-color: #6e4ba3;
}