.notificaciones-container {
    width: 90%;
    padding-right: 15px;
    padding-left: 1px;
    padding-bottom: 14px;
    background-color: transparent;
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .notificacion-actual p {
    margin: 0;
  }

  .navegacion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .navegacion-puntos {
    margin-top: 7.5px;
    display: flex;
    justify-content: center;
    gap: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5px;
  }
  
  .punto {
    width: 5px;
    height: 5px;
    border: 1px solid #393941;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .punto.activo {
    background-color: #393941;
  }
  
  .navegacion-botones {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .boton-navegar {
    color: white;
    border: none;
    padding: 2.5px 2.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-navegar:hover {
    background-color: #1c1c29;
  }

  #notificaciones{
    border: none;
    overflow-y: hidden;
  }

  .movimiento-item-notificaciones{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
    height: 50px;
    gap: 10px;
    flex-shrink: 0;
    background-color: transparent;
    padding: 0;
    position: relative;
    bottom: 4px;
    cursor: pointer;
  }

  .movimiento-item-notificaciones:hover{
    background-color: transparent;
  }

  .sin-bubble {
    cursor: default; /* Cursor normal cuando no tiene Bubble */
    pointer-events: none; /* Opcional: evita que sea clickeable */
  }

  .notificacion-detalles{
    position: relative;
    font-size: 13px;
    margin-left: 5px;
    width: 100%;
    gap: 3px;
    font-variation-settings: "slnt" 0, "wght" 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    height: 140%;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }

  .contenido-notificacion {
    white-space: normal; /* Permite el salto de línea */
    overflow-wrap: break-word; /* Rompe palabras largas si es necesario */
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block; /* Evita comportamiento de flexbox */
    text-align: left; /* Asegura alineación a la izquierda */
    position: relative;
    top: 3%;
    font-size: 12.5px;
  }
  
  .bubble-contenido{
    min-height: 100px;
    align-content: center;
  }