.contenido-vacio1{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.añadir{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 12px;
    font-variation-settings: "slnt" 0, "wght" 400;
    letter-spacing: 0.2px;
    gap: 5px;
    border: 2px dashed #202029;
    background-color: transparent;
    padding: 8px 10px;
    height: 50px;
    margin-top: 14.3px;  
    border-radius: 10px;
    flex-shrink: 0;
}

#añadir-contacto{
    margin-top: 10px;
    cursor: pointer;
}

#añadir-contacto p{
    margin-top: 2%;
}

#añadir-contacto:hover{
    background-color: #14141f82;  /* Fondo oscuro al hacer hover sobre el li */
}

/* Inputs y selectores */
.select-contacto {
   padding: 8px 8px 7px 8px;
   border: none;
   border: 1px solid #858585;  /* Solo una raya debajo */
   border-radius: 10px;
   background: transparent;
   color: #999; /* Color gris por defecto */
   font-size: 14px;
   text-align: center;
   transition: background 0.3s ease, box-shadow 0.3s ease;
   margin-top: 15px;
   margin-bottom: 20px;
}
  
.select-contacto:focus {
   background: transparent;
   border-color: #6e4ba3;
   box-shadow: 0 0 5px #6e4ba3;
   outline: none;
   color: #fff;  /* Color blanco cuando el usuario empieza a escribir */
}

.select-contacto::placeholder {
    color: #c5c5c5;  /* Color blanco cuando el usuario empieza a escribir */
    font-size: 13px;
}

.contenedor-contactos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-redes{
    background-color: #14141f;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-redes:hover{
    background-color: #14141f82;
    transition: background-color 0.3s ease;
}

.boton-redes img{
    width: 20px;
    height: 20px;
}