.custom-chip {
    position: absolute;
    display: flex;
    left: 155px;
    top: 30px;
    background-color: #151522; /* Fondo personalizado */
    color: #e9e9e9; /* Color del texto */
    font-size: 12px; /* Tamaño de fuente */
    padding: 5px 10px;
    padding-right: 55px;
    border-radius: 7px; /* Bordes redondeados */
} 

.status-dot {
    width: 5.5px; /* Tamaño del punto */
    height: 5.5px; /* Tamaño del punto */
    background-color: #61C454; /* Color del punto */
    border-radius: 50%; /* Hacerlo circular */
    margin-right: 8px; /* Separación del texto */
}

.chip{
    position: relative;
    font-size: 10px;
    letter-spacing: 0.25px;
    top: 2px;
    font-variation-settings: "slnt" 0, "wght" 400;
}
  