.placeholder-container {
  position: absolute;
  border-radius: 30px;
  color: #e9e9e9;
  padding-top: 0.3%;
  background-color: #10101A;
  width: 317px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 12.5px;
  font-variation-settings: "slnt" 0, "wght" 400;
  z-index: 999;
  right: 118px;
  top: 30px;
  border: 1px solid #151522;
}

.placeholder{
  width: 83%;
  margin-left: 7%;
  font-size: inherit;
  font-variation-settings: inherit;
  background-color: transparent;
}

.placeholder:focus-visible{
  outline: none;
}
  
.submit-btn{
  position: relative;
  margin-top: -1.7%;
  width: 18px;
  height: 18px;
}

.icono1{
  width: 20px;
  height: 20px;
}

.lista-usuarios {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: auto;
  max-height: 220px;
  overflow-y: auto;
  background-color: #10101A;
  border: 1px solid #151522;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 99999999;
  margin-top: 10px;
  padding: 7px 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.lista-usuarios::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Opera */
}
 
.user-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.user-item:hover {
  background-color: #f0f0f0;
}
  
.user-icon {
  margin-right: 12px;
}
  
.avatar-imagen1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
  
.user-details {
  display: flex;
  flex-direction: column;
}
  
.user-name {
  font-weight: bold;
}
  
.user-email, .user-role, .user-extra {
  font-size: 14px;
  color: #555;
}
  