body {
  overflow: hidden;
  height: 100%;
  margin: 0; /* Eliminar márgenes */
}

.contenedor3 {
  position: relative;
  display: flex;
  height: 825px;
  width: 96.6%;
  padding-top: 25px;
  padding-left: 132px;
  padding-bottom: 21px;
}

.bento3 {
  position: relative;
  display: grid;
  height: 100%; /* Esto ahora debería funcionar */
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  border-radius: 8px;
}

.apartado3 {
  position: relative;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10101A;
  border: 1px solid #151522;
  overflow: hidden; /* Evita que el contenido desborde */
  text-align: center;
  width: 100%;
  height: 100%; /* Asegúrate de que esto esté aquí */
  flex-wrap: nowrap;
  flex: 1; /* Esto hará que cada sección ocupe el espacio disponible */
}

.bento3 .apartado3:nth-child(1) {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 80%;
  width: 82.5%;
}

.bento3 .apartado3:nth-child(2) {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 10%;
  border-radius: 8px;
  left: 85%;
  height: 80%;
}

.bento3 .apartado3:nth-child(3){
  grid-column: 2 / 4; /* Ocupar dos columnas */
  grid-row: 1 / 1;
}

.bento3 .apartado3:nth-child(4) {
  grid-column: 1 / 3; /* Ocupar dos columnas */
  grid-row: 2 / 2;
  width: 93%;
  height: 110%;
  bottom: 20%;
}

.bento3 .apartado3:nth-child(5) {
  grid-column: 3/ 4; /* Ocupar dos columnas */
  grid-row: 2 / 4;
  width: 114%;
  right: 14%;
  height: 110%;
  bottom: 10%;
}

.bento3 .apartado3:nth-child(6) {
  grid-column: 1 / 3; /* Ocupar dos columnas */
  grid-row: 3 / 3; /* Solo ocupar la última fila */
  width: 93%;
  height: 110%;
  bottom: 10%;
}
