.calendario{
  position: relative;
  margin-top: 4px;
}

.day-has-event::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #6e4ba3;
  border-radius: 50%;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}
