/* Estilo para el fondo */
.bubble-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
    padding: 20px;
  }
  
  /* Estilo para el contenido */
  .bubble-content {
    background: #090912;
    min-width: 35%;
    width: auto;
    max-height: 850px;
    padding: 20px;
    border-radius: 15px;
    transform: scale(0.9);
    animation: popIn 0.3s ease-in-out;
    overflow-y: hidden;
    margin-left: 80px;
    text-align: center;
  }
  
  /* Animaciones */
  @keyframes fadeIn {
    from {
      background: rgba(0, 0, 0, 0);
    }
    to {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  
  @keyframes popIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }

.mensaje-confirmacion {
    display: flex;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
    font-size: 1.1rem;
    color: #e9e9e9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #check{
    position: absolute;
    color: rgb(68, 197, 68);
    width: 21px;
    height: 21px;
    top: 40px;
  }
  
  #error{
    position: absolute;
    color: rgba(222, 67, 67);
    width: 21px;
    height: 21px;
    top: 40px;
  }